.bt-form-login-simple-1 {
   margin-top: 50px;
   width: 100%;
   max-width: 500px;
   margin-inline: auto;
   box-shadow: -2px 0px 2px 2px rgba(0, 0, 0, 0.1), 2px 1px 2px 2px rgba(0, 0, 0, 0.1);
   padding: 40px;
   border-radius: 12px;

   .img {
      margin-bottom: 50px;
   }

   .form-heading {
      font-size: 24px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 0px;
   }

   .form-desc {
      color: #808191;
      font-size: 14px;
      text-align: center;
      font-weight: 500;
      margin-bottom: 40px;
   }

   .btn-login-google {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      padding: 14px;
      margin-top: 20px;
      border-radius: 12px;
      font-weight: 500;
      color: #4b5264;
      transition: linear 0.25s;
   }

   .text-wrap {
      display: flex;
      align-items: center;
      margin-block: 20px;
   }

   .text {
      text-align: center;
      padding-inline: 20px;
      font-size: 14px;
      font-weight: 500;
      color: #808191;
   }

   .text-line {
      height: 1px;
      width: 100%;
      background-color: #f1f1f3;
   }

   .form {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
   }

   .form-group {
      margin-bottom: 20px;

      label {
         font-size: 14px;
         font-weight: 500;
      }

      &:last-child {
         margin-bottom: 0;
      }
   }

   .form-input {
      padding: 15px 25px;
      width: 100%;
      border: 1px solid #cbd5e1;
      border-radius: 12px;
      outline: none;
      transition: linear 0.25s;

      &:focus {
         border-color: #1dc071;
      }
   }

   .form-meta {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      margin-top: 20px;
   }

   .form-remember {
      display: flex;
      align-items: center;
      gap: 5px;

      label {
         position: relative;
         top: 1px;
      }
   }

   .form-link {
      font-size: 14px;
      font-weight: 500;
      text-decoration: underline;
      transition: linear 0.25s;

      &:hover {
         color: #1dc071;
      }
   }

   .form-btn {
      padding: 13px;
      width: 100%;
      background-color: #1dc071;
      border-radius: 12px;
      color: #fff;
      font-weight: 500;
      margin-top: 60px;
   }

   .form-option {
      text-align: center;
      font-size: 14px;

      a {
         font-weight: 500;
         text-decoration: underline;
         transition: linear 0.25s;

         &:hover {
            color: #1dc071;
         }
      }
   }

   .form-btn {
      display: inline-block;
      padding: 16px 40px;
      font-size: 1.125rem;
      line-height: 1.75rem;
      background-color: #1dc071;
      color: white;
      font-weight: 600;
      border-radius: 8px;
      user-select: none;
      cursor: pointer;
      position: relative;
      isolation: isolate;
      overflow: hidden;
      border: none;
   }

   .form-btn:hover::before {
      left: auto;
      right: 0;
      width: 100%;
   }

   .form-btn::before {
      content: '';
      position: absolute;
      left: 0;
      right: auto;
      top: 0;
      height: 100%;
      width: 0;
      background-color: #fff;
      opacity: 0.1;
      z-index: -1;
      transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
   }
}